#nome{
    text-align: center;
}
#foto{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    background-color: grey;
}
.titulo:hover{
    background-color: aquamarine;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ol{
    list-style-type: upper-alpha;
}
.infos{
    background-color: pink;
    
}
.minhadiv{
    border: dashed;
    border-color: black;
    background-color: beige;
    text-align: center;
}